.logo{
    vertical-align: middle;
    width: 50px;
}
.user{
    float: right;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    
    .menu{
        background: #404040;
        border-bottom: 0;
        color: white;
    }
}