.logo{
    vertical-align: middle;
    width: 50px;
}
.user{
    float: right;
    color: #fff;
    font-size: 20px;
    
    .menu{
        background: #404040;
        border-bottom: 0;
        color: white;
    }
    .item{
        line-height: 64px;
        height:64px;
    }
}